<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/math">Math</a></li>
    <li><a href="/socialstudies">Social Studies</a></li>
    <li><a href="/biology">Biology</a></li>
    <li><a href="/computerscience">Computer Science</a></li>
  </ul>
</nav>