<%- include('../partials/head.ejs') %>

<body>
    <header>

        <h1>Page not found</h1>


    </header>
    <main>
        <p class="back_link">
            <a href="/">Back</a>
        </p>
    </main>
</body>

</html>