<%- include('../partials/head.ejs') %>

<body>
    <div class="container main" id="container">
        <div class="header">
            <h1><%= pageName %></h1>
            <p>Test your skills</p>
            <%- include('../partials/nav.ejs') %>
        </div>
        <div class="options">
            <div class="subject">
                <h2>Math</h2>
                <button class="btn"><a href="/question?category=math&test=test0">Select</a></button>
            </div>
            <div class="subject">
                <h2>Social Study</h2>
                <button class="btn"><a href="/question?category=socialstudies&test=test0">Select</a></button>
            </div>
            <div class="subject">
                <h2>Biology</h2>
                <button class="btn"><a href="/question?category=biology&test=test0">Select</a></button>
            </div>
            <div class="subject">
                <h2>Computer Science</h2>
                <button class="btn"><a href="/question?category=computerscience&test=test0">Select</a></button>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>

    </div>

</body>

</html>